{
	admin off
}

:2080 {
	header Access-Control-Allow-Origin *
	header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
	header Access-Control-Allow-Headers "Accept, Authorization, Content-Type"

	@options method OPTIONS
	handle @options {
		respond 204
	}

	handle /api/* {
		reverse_proxy api:8080
	}

	handle /storage/* {
		uri strip_prefix /storage
		reverse_proxy minio:9000 {
			header_up Host minio:9000
			header_down -Access-Control-Allow-Origin
			header_down -Access-Control-Allow-Methods
			header_down -Access-Control-Allow-Headers
		}
	}

	handle {
		root * /srv/web
		try_files {path} /index.html
		file_server
	}
}
